[*]
indent_size = 4
indent_style = space
ij_continuation_indent_size = 4
end_of_line = lf

ij_css_use_double_quotes = true
ij_css_enforce_quotes_on_format = true

ij_javascript_force_semicolon_style = true
ij_javascript_use_semicolon_after_statement = true
ij_javascript_enforce_trailing_comma = whenmultiline
ij_javascript_force_quote_style = true
ij_javascript_use_double_quotes = true

ij_typescript_force_semicolon_style = true
ij_typescript_use_semicolon_after_statement = true
ij_typescript_enforce_trailing_comma = whenmultiline
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = true

trim_trailing_whitespace = true
insert_final_newline = true

[{*.yml,*.yaml,*.json}]
indent_size = 2
ij_continuation_indent_size = 2
