@import "tailwindcss";

@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/900.css";

@theme {
    --font-sans: "Poppins", sans-serif;
    --breakpoint-xs: 30rem;

    --color-primary: var(--color-indigo-600);
    --color-primary-fg: var(--color-indigo-400);
    --color-primary-light: var(--color-zinc-200);
    --color-primary-dark: var(--color-zinc-900);
    --color-primary-gray: var(--color-zinc-700);
}

html {
    color-scheme: dark;
}
